<!DOCTYPE html>
<html>
<head>
    <title>Подтверждение сброса пароля</title>
</head>
<body>
    <h2>Подтверждение сброса пароля</h2>
    <form method="post" action="{% url 'password_reset_confirm' uidb64=uidb64 token=token %}">
        {% csrf_token %}
        <input type="hidden" name="uidb64" value="{{ uidb64 }}">
        <input type="hidden" name="token" value="{{ token }}">
        <div>
            <label for="new_password1">Новый пароль:</label>
            <input type="password" id="new_password1" name="new_password1" required>
        </div>
        <div>
            <label for="new_password2">Подтвердите новый пароль:</label>
            <input type="password" id="new_password2" name="new_password2" required>
        </div>
        <button type="submit">Подтвердить сброс пароля</button>
    </form>
</body>
</html>
