<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">

<style>
body {background-color: white;}
    
    @keyframes slide-in {
        from {
            transform: translateX(-100%);
        }
        to {
            transform: translateX(0);
        }
    }

    @keyframes fade-in {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    .ticket-form {
        margin-top: -10px;
        max-width: 500px;   
        margin: 0px auto;
        padding: 20px;
        background-color: #f5f5f5;
        border: 1px solid #ddd;
        border-radius: 5px;
        animation: slide-in 1s ease-in-out;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }

    .form-group {
        margin-bottom: 15px;
    }



    label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }

    input[type="text"],
    textarea,
    select {
        width: 95%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 14px;
        animation: fade-in 1s ease-in-out;
    }

    .btn-submit {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 14px;
    }

    .btn-submit:hover {
        background-color: #0056b3;
    }
    .tick {
        padding-top: 100px;
    }
    .scrollable-description {
        max-height: 150px; 
        overflow: auto; 
    }


    select {
    
   -webkit-appearance:none;
   -moz-appearance:none;
   -ms-appearance:none;
   appearance:none;
   outline:0;
   box-shadow:none;
   border:0!important;
   background: #ffffff;
   background-image: none;
   flex: 1;
   padding: 0 .5em;
   color:#000000;
   cursor:pointer;
   font-size: 1em;
   font-family: 'Open Sans', sans-serif;
   
}
select::-ms-expand {
   display: none;
}
.select {
    margin-bottom: 30px;
   position: relative;
   display: flex;
   width: 27.2em;
   height: 3em;
   line-height: 3;
   background: #ffffff;
   overflow: hidden;
   border-radius: .25em;
}
.select::after {
   content: '\25BC';
   position: absolute;
   top: 0;
   right: 0;
   padding: 0 1em;
   background: #26a7a7;
   cursor:pointer;
   pointer-events:none;
   transition:.25s all ease;
}
.select:hover::after {
   color: #ffffff;
}
.form-group {
            margin-bottom: 40px;
        }
        
       .form-group .label-box 
        {
    position: relative;
    width: 270px;
}

.form-group .label-box::before,
.form-group .label-box::after {
    content: '';
    position: absolute;
    /* height: 2px; */
    width: 0;
    bottom: 1px;
    background-color: #757575;
    transition: width 0.2s;
}

.form-group .label-box::before {
    left: 50%;
}

.form-group .label-box::after {
    right: 50%;
}
.form-group input:focus ~ .label-box::before,
.form-group input:focus ~ .label-box::after {
width: 50%;

}

.form-group input {
    
    width: 435px;
    padding: 5px;
    box-sizing: border-box;
    font-size: 18px;
    border: none;
    border-bottom: 1px solid #000000;
}

.form-group label {
    position: absolute;
    top: -36px;
    font-size: 18px;
    pointer-events: none;
    color: rgb(0, 0, 0);
    transition: 0.2s ease all;
}

.form-group input:focus ~ .label-box label,
.form-group input:valid ~ .label-box label {
    font-size: 14px;
    transform: translateY(-20px);
}

.form-group input:nth-child(1)
{
    margin-top: 30px;
}

#id_description::placeholder {
    font-weight: bold;
    font-size: large;
    color: #000000; 
    font-style: italic; 
    opacity: 0.9; 
    transition: opacity 0.3s ease-in-out; 
}


#id_description:focus::placeholder {
    opacity: 0; 
}
.bl_headerUtils_logo {
    width: 200px;
} 
hr {

  display: block;
  margin: 70px 0 -15px;
  width: 100%;
  height: 1px;
  border: 0;
  background-color: rgba(0, 0, 0, 0.35);
}
hr + h2 {
  display: inline-block;
  position: relative;
  left: 50%;
  margin: 0;
  padding: 5px 10px;
  border: 1px solid #453986;
  transform: translateX(-50%);
  color: #453986;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.32em;
  text-align: center;
  text-transform: uppercase;
  background-color: #fff;
}
hr + h2::first-letter {
  margin-left: 0.32em;
}


hr + h2 {
  border-width: 1px 0;
}
hr + h2::before, hr + h2::after {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  background: #453986;
  content: "";
}
hr + h2::before {
  left: 0;
}
hr + h2::after {
  right: 0;
}
.foot {
    height: 10vh;
}
body {

font-family: "Oswald", sans-serif;

display: flex;
justify-content: center;
align-items: center;
background-color: #faedcd;

}
#clock {
max-width: 600px;
margin-left: 30%;
}


@media only screen and (max-width: 700px) {
body {
  font-size: 1.8rem;
}
}


@media only screen and (max-width: 300px) {
body {
  font-size: 1.6rem;
}
}
</style>

<div class="flex flex-col w-screen h-screen overflow-auto text-gray-700 bg-gradient-to-tr from-blue-200 via-indigo-200 to-pink-200">
    <div class="flex items-center flex-shrink-0 w-full h-16 px-10 bg-white bg-opacity-75">
      <a class="bl_headerUtils_logo" href="https://www.spitamenbank.tj/"><img src="https://www.spitamenbank.tj/local/templates/sb-main-template/img/logo/logo-horizontal-ru.svg" ></a>
      <svg class="w-8" xmlns="" fill="none" viewBox="" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 21a4 4 0 01-4-4V5a2 2 0 012-2h4a2 2 0 012 2v12a4 4 0 01-4 4zm0 0h12a2 2 0 002-2v-4a2 2 0 00-2-2h-2.343M11 7.343l1.657-1.657a2 2 0 012.828 0l2.829 2.829a2 2 0 010 2.828l-8.486 8.485M7 17h.01" />
      </svg>
      <!-- <input class="flex items-center h-10 px-4 ml-10 text-sm bg-gray-200 rounded-full focus:outline-none focus:ring" type="search" placeholder="Search for anything…"> -->
      <div class="ml-10">
          <a class="mx-2 text-sm font-semibold text-indigo-700" href="{% url 'tickets' %}">Add Ticket</a>
          <!-- <a class="mx-2 text-sm font-semibold text-gray-600 hover:text-indigo-700" href="{% url 'user_tickets' %}">Projects</a> -->
          {% if last_ticket %}
          <a class="mx-2 text-sm font-semibold text-gray-600 hover:text-indigo-700" href="{% url 'add_comment' ticket_id=last_ticket.id %}">Projects</a>
          {% endif %}            
          <!-- <a class="mx-2 text-sm font-semibold text-gray-600 hover:text-indigo-700" href="{% url 'team_project' %}">        
            {% if spitamen %} Spitamen {% endif %}
            {% if sbt %} Sbt {% endif %}
            {% if matin %} Matin {% endif %}
            {% if ssb %} Ssb{% endif %}
            {% if sarvat %} Sarvat {% endif %}
            {% if vasl %} Vasl {% endif %} Projects</a> -->
            <a class="mx-2 text-sm font-semibold text-gray-600 hover:text-indigo-700" href="{% url 'login' %}">Logout</a>
      </div>
      <div id="clock">
        <h1 id="date-time"></h1>
      </div>
      <a href="profile.html" class="flex items-center justify-center w-8 h-8 ml-auto overflow-hidden rounded-full cursor-pointer">
        <img src="https://cdn-icons-png.flaticon.com/512/10870/10870645.png" alt="">
      </a>
    </div>
    <div class="px-10 mt-6">
        <h1 class="text-2xl font-bold">Team Add Ticket Board

        </h1>



      </div>
      <div class=" overflow-auto">
          <hr/>
          <h2>Создание нового тикета</h2>
        <div class="flex flex-col flex-shrink-0 w-72" id="sortable-container">
    <div class="tick"></div>
    <div class="ticket-form">

    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.title }}
            <div class="label-box">
                <label for="{{ form.title.id_for_la00bel }}" class="labeled">Title:</label>
            </div>
            
        </div>

        <div class="form-group">
            {{ form.topic }}
            <div class="label-box">
            <label for="{{ form.topic.id_for_label }}">Theme:</label>
        </div>
        </div>

        <div class="form-group">
            {{ form.description }}
            
            <div class="label-box">
            <label for="{{ form.description.id_for_label }}"></label>
        </div>
        </div>  
        
            
       

        <div class="select">
            
            <label for="{{ form.component.id_for_label }}">Component:</label>
            {{ form.component }}
        </div>
        <div class="select">
            <label for="{{ form.type.id_for_label }}">Type:</label>
            {{ form.type }}
        </div> 
        <div class="select">
            <label for="{{ form.group.id_for_label }}">User Profile:</label>
            {{ form.group }}
        </div> 
        
         <!-- Добавил иконку для кнопки создания тикета -->
         <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full"><i class="fas fa-ticket-alt"></i> Создать тикет</button>

         <!-- Добавил кнопку для очистки формы -->
         <button type="reset" class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded-full">Очистить</button>


         
    </form>
</div>
<div class="foot"></div>

<script>
    window.addEventListener("load", () => {
  clock();
  function clock() {
    const today = new Date();

    // get time components
    const hours = today.getHours();
    const minutes = today.getMinutes();
    const seconds = today.getSeconds();

    //add '0' to hour, minute & second when they are less 10
    const hour = hours < 10 ? "0" + hours : hours;
    const minute = minutes < 10 ? "0" + minutes : minutes;
    const second = seconds < 10 ? "0" + seconds : seconds;

    //make clock a 12-hour time clock
    const hourTime = hour > 12 ? hour - 12 : hour;

    // if (hour === 0) {
    //   hour = 12;
    // }
    //assigning 'am' or 'pm' to indicate time of the day
    const ampm = hour < 12 ? "AM" : "PM";

    // get date components
    const month = today.getMonth();
    const year = today.getFullYear();
    const day = today.getDate();

    //declaring a list of all months in  a year
    const monthList = [
      "January",
      "February",
      "March",
      "April",
      "May",
      "June",
      "July",
      "August",
      "September",
      "October",
      "November",
      "December"
    ];

    //get current date and time
    const date = monthList[month] + " " + day + ", " + year;
    const time = hourTime + ":" + minute + ":" + second + ampm;

    //combine current date and time
    const dateTime = date + " - " + time;

    //print current date and time to the DOM
    document.getElementById("date-time").innerHTML = dateTime;
    setTimeout(clock, 1000);
  }
});
</script>

